body {
    background: #e7ebee;
    margin:0;
}

.header_upper{
    display:flex;
    justify-content: space-between;
    background: linear-gradient(to left,#02335e 0,#1e5d88 25%,#3a87b3 50%,#30a3bb 75%,#27c0c3 100%);
    align-items: center;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 30px;
    margin-right: 100px;
}

nav {
    color: white;
}

nav a{
    margin-right: 24px;
}



.sidebar {
    margin-top: 50px;
    position: fixed;
    background: #02335e;
    color: white;
    width: 268px;
    height: 100%;
    
}

.list {
    list-style: none;
    padding-left: 35px;
    font-size: .875em;
    
}

.sidebar ul a{
    
    color: white;
    text-decoration: none;
    line-height: 50px;
}

.sidebar header {
    display: block;
    color: #fff;
    /*float: left;*/
    padding:20px 15px;
    padding-top: 30px;
    padding-left: 30px; 
    background-color: #08477e;   /*Borrar luego*/
}

.userName {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.2;
}

.status {
    display: block;
    font-size: .75em;
}

section {
    padding-left: 320px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.assistBox {
    background: #ffffff;
    padding: 40px;
}